*.off
/.dropbox
/+gui
/MeshLibrary
/cites
/results
/final
*.png
*.vtk
*.pdf
*.obj
*.ai
*.ply
*.eps
*.aux
*.ddf
*.dvi
*.dvv
*.lbl
*.log
*.Backup*
/toolbox_graph
*.fd
*.bbl
*.gz
*.jpg
*.dtx
*.bst
*.blg
/yalmip
*.asv
/.dropbox.attr
/*.x3d
/*.blend
/*.mat
/*.fig
/computeMeshTranformationCoeffsMex.mexw64
/computeMeshTranformationCoeffsMex.mexw64.pdb
*.blend1
*.blend
/gptoolbox-master
/desktop.ini
